*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    color: white;
    font-weight: bold;
    text-align: center;
}

body *{  /* permite mostrar las cajas aunque no haya texto */
    min-height: 5px;
}
.mother{
    max-width: 1200px;
    margin: auto;
}
.mother div{
    margin: 5px;
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 6px;

}
/* Primer container */
.cont1{
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.cont1_ch1{
    background-color: #2d4059;
    display: flex;
    align-items: center;
}
.cont1_ch1 article{
    background-color: #ea5455;
    margin: 6px;
    height: 7px;
}
.cont1_ch1 :nth-child(2){
    width: 70%;
}
.cont1_ch1 :nth-child(1){
    width: 15%;
}
.cont1_ch1 :nth-child(3){
    width: 15%;
}
.cont1_ch2{
    background-color: #f07b3f;
    height: 23px;
    display: flex;
    align-items: center;
}
.cont1_ch2 :nth-child(1){
    background-color: #fed460;
    width: 100%;
    margin: 5px;
    height: 7px;
}
/* Segundo container */
.cont2{
    display: flex;
    padding: 5px;
    gap: 5px;
}

.cont2_ch1{
    background-color: #4d4d68;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    align-items: center;
    padding: 5px;
}
    .cont2_ch1 article{
        height: 6px;
    }
        /* Solo afecta a los 4 primeros elemento */
    .cont2_ch1 :nth-child(-n+4){ 
        background-color: #1f6cb0;
        /* width: 75px; */
        flex-basis: 40%; /* Establece el ancho base de cada columna */
        flex-grow: 1; /* Permite que las columnas crezcan para llenar el espacio disponible */
    }
        /* afecta solo al ultimo elemento */
    .cont2_ch1 :nth-child(5){ 
        background-color: #70a3c4;
        width: 100%;
    }
.cont2_ch2{
    background-color: #f73f52;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    padding: 5px;
}
    .cont2_ch2 article{
        background-color: #feea85;
        width: 100%;
    }
.cont3_ch1{
    background-color: #e6af2e;
    width: 100%;
}