*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    color: black;
    font-weight: bold;
    text-align: center;
}

body *{  /* permite mostrar las cajas aunque no haya texto */
    min-height: 5px;
}
:root{
    --Alto--articles: 25px;
    --padding--hijos: 4px;
    --Margin--IzqDerBarras: 3px;
}
.mother{
    max-width: 1200px;
    margin: auto;
}
.mother div{
    margin: 16px;
    display: flex;
    justify-content: space-around;
    /* background-color: black; */
    padding: 5px 5px;

}
/* container Top: ---------------------------------------*/
#top{
    display: flex;
    flex-direction: column;
    gap: 3px;
    background-image: url('img/header.jpg');
    background-size: cover; 
    background-position: center;
    height: 45vh;
}
    /*Header: ----------------------  */
header{
    /* background-color: #2d4059; */
    display: flex;
    align-items: center;
    padding: var(--padding--hijos);
    margin-bottom: 140px;
}
header *{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    align-items: center;    
    color: grey;

}
header article{
    /* background-color: #ea5455; */
    margin: var(--Margin--IzqDerBarras);
    height: var(--Alto--articles);
}

header section:hover{ /*roll-over: iconos con texto */
    background-color: #c1c3c4;
    transition: background-color 0.6s ease;
    cursor: pointer;
    border-radius: 5px;

}
/* logo------ */
#logo img{
    width: 40px;
}

/* menu navegacion--------- */
.icons{
    width: 10px;
    margin: 2px;
}
#menu{
    width: 70%;
}
#menu section{
    margin: 0 5px;
}
#socialMedia{
    width: 15%;
    justify-content: flex-end;
}
#socialMedia section{
    margin: 0 5px;
}
/*Main Top-------------  */
#main_top{
    /* background-color: #f07b3f; */
    display: flex;
    align-items: center;
    height: 120px;
    background-color: #b6b7ba;
    opacity: 0.7;
    margin: 0 35px;
}
#main_top :nth-child(1){
    width: 100%;
    margin: var(--Margin--IzqDerBarras);
    height: var(--Alto--articles);
}
#main_top h3{
    color:#fd7b54;
}
/* Segundo container ----------*/
.cont2{
    display: flex;
    padding: 5px;
    gap: 15px;
    /* height: 60vh; */
}
.cont2_ch1{
    background-color: #4d4d68;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    align-items: center;
    padding: var(--padding--hijos);
}
    .cont2_ch1 article{
        height: var(--Alto--articles);
        margin: var(--Margin--IzqDerBarras);
    }
        /* Solo afecta a los 4 primeros elemento */
    .cont2_ch1 :nth-child(-n+4){ 
        background-color: #1f6cb0;
        /* width: 75px; */
        flex-basis: 40%; /* Establece el ancho base de cada columna */
        flex-grow: 1; /* Permite que las columnas crezcan para llenar el espacio disponible */
    }
        /* afecta solo al ultimo elemento */
    .cont2_ch1 :nth-child(5){ 
        background-color: #70a3c4;
        width: 100%;
    }
.cont2_ch2{
    background-color: #f73f52;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    padding: 27px;
}
    .cont2_ch2 article{
        background-color: #feea85;
        width: 100%;
        height: var(--Alto--articles);
        margin: 3px;
    }
/* Tercer container --------- */
.cont3{
    padding: var(--padding--hijos);
}
.cont3_ch1{
    background-color: #e6af2e;
    width: 100%;
    height: var(--Alto--articles);
}
/* MEDIAQUERYS -------------------------------------- */
    /* VISUALIZACION TABLETS: ENTRE 321px y 768px  */
    @media screen and (min-width: 321px) and (max-width: 525px) {
        #top{
            max-height: 40vh;
        }
        header{
            font-size: 0.8em;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 40px;
        } 
        #main_top  h3{
            font-size: 1em;
        }
        .mother div:nth-child(2){
            background-color: #feff03;
        }
        .cont2{
            flex-direction: column;
        }
        .cont2_ch1, .cont2_ch2{
            width: 100%;
        }        
    }
    /* VISUALIZACON MOVIL------------- */
    @media screen and (max-width: 420px) {
        #top{
            max-height: 35vh;
        }
        header{
            font-size: 0.8em;
            flex-direction: column;
            gap: 20px;
            margin-bottom: 40px;
        } 
        #main_top  h3{
            font-size: 1em;
        }
        /* Cambia el color del segundo container */
        .mother div:nth-child(2){
            background-color: #feff03;
        }
        .cont2{
            flex-direction: column;
        }
            .cont2_ch1, .cont2_ch2{
                width: 100%;
            }
            /*cambia el color de las barras azul a verde oscuro */
            .cont2_ch1 :nth-child(-n+4){
                background-color: #62959c;
            } 
            /* Cambia color barra azul a verde claro */
            .cont2_ch1 :nth-child(5){ 
                background-color: #a3ddcb;
            }
            /* Cambia color relleno rojo a naranja  */
            .cont2_ch2{
                background-color: #fd7b54;
            }
            /* cambio colo barra amarilla a naranja */
            .cont2_ch2 article{
                background-color: #fdb36b;
            }
    }