*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
/* Header ---------------- */
#top{
    background-image: url('img/header.jpg');
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
    background-position: center;
    height: 200px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 50px;
}
    header *{
        display: flex;
        flex-direction: row;
        list-style-type: none;
    }
    #logo img{
        width: 40px;
    }
    #menu article{
        margin: 0 10px;
    }
    header section:hover{ /*Afecta a los contenedores con iconos */
        background-color: #cecece;
        transition:                   background-color 1s ease;
        cursor: pointer;
    }
    .icons{
        width: 12px;
        margin: 2px;
    }
    #socialMedia article{
        margin: 0 7px;
    }
/* MEDIAQUERYS -------------------------------------- */
    /* VISUALIZACION TABLETS: ENTRE 321px y 768px  */
    @media screen and (min-width: 321px) and (max-width: 768px) {
        /* Cambia el color del segundo container */
        .mother div:nth-child(2){
            background-color: #feff03;
        }
        .cont2{
            flex-direction: column;
        }
        .cont2_ch1, .cont2_ch2{
            width: 100%;
        }        
    }
    /* VISUALIZACON MOVIL------------- */
    @media screen and (max-width: 320px) {
        .cont1_ch1{
            flex-direction: column;
        }   
            /* hace que todas las barras rojas abarquen el 100% del ancho */
            .cont1_ch1 :nth-child(n)
            {
                width: 100%;
            }
        /* Cambia el color del segundo container */
        .mother div:nth-child(2){
            background-color: #feff03;
        }
        .cont2{
            flex-direction: column;
        }
            .cont2_ch1, .cont2_ch2{
                width: 100%;
            }
            /*cambia el color de las barras azul a verde oscuro */
            .cont2_ch1 :nth-child(-n+4){
                background-color: #62959c;
            } 
            /* Cambia color barra azul a verde claro */
            .cont2_ch1 :nth-child(5){ 
                background-color: #a3ddcb;
            }
            /* Cambia color relleno rojo a naranja  */
            .cont2_ch2{
                background-color: #fd7b54;
            }
            /* cambio colo barra amarilla a naranja */
            .cont2_ch2 article{
                background-color: #fdb36b;
            }
    }